In [61]:
import pandas as pd
import pandas
import json
import requests

In [62]:
#reading the data from csv file
poverty = pd.read_csv(r"C:\Users\Owner\Documents\School\Homework\Project_2-Data_Visualization\Poverty_Project\static\data\poverty.csv")
poverty.head()

    Entity   Latitude  Longitude Code  Year  Percentage
0  Albania  41.153332  20.168331  ALB  1996       12.36
1  Albania  41.153332  20.168331  ALB  2002       16.61
2  Albania  41.153332  20.168331  ALB  2005        9.79
3  Albania  41.153332  20.168331  ALB  2008        6.11
4  Albania  41.153332  20.168331  ALB  2012        6.79

In [63]:
# #retreaving necessary columns
# poverty_data = tsunami_data[["ID", "YEAR", "COUNTRY", "LATITUDE", "LONGITUDE", "PRIMARY_MAGNITUDE"]]
# tsunami_data.head()

In [64]:
# #to populate the blank magnitude cels, the average of the all tsunamis is calculated and parsed into the blank cells.
# tsunami_data[['PRIMARY_MAGNITUDE']].mean()

In [65]:
# tsunami_data["PRIMARY_MAGNITUDE"].fillna("7.03", inplace=True)
# tsunami_data.head()

In [66]:
# #dropping the cells with NaN value.
# tsunami_data = tsunami_data.dropna()
# tsunami_data.head()

In [67]:
# #saving cleaned data to a new csv file
# tsunami_data.to_csv("cleaned_tsunami_data.csv", encoding="utf-8", index=False)

In [68]:
#convertin csv file to geojson file

In [69]:
# data_frame = pandas.read_csv('cleaned_tsunami_data.csv')
# data_frame.head()

In [70]:
json_result_string = poverty.to_json(
    orient= 'records',
    double_precision=12,
    date_format='iso'
)
json_result =json.loads(json_result_string)

In [73]:
geojson = {
    'type': 'FeatureCollection',
    'features': []
}
for record in json_result:
    geojson['features'].append({
        'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': [record['Longitude'], record['Latitude']],
        },
        'properties': record,
    })

In [75]:
with open('poverty.json', 'w') as f:
    f.write(json.dumps(geojson, indent=2))